button {
    font-family: 'Roboto Mono';
    color      : #7a7a7a;
    font-weight: normal;

    transition-duration: .2s;
    background-color   : transparent;
    padding: 15px;
    border : none;
}

button:hover {
    font-weight: bolder;
}
