* {
    margin : 0px;
    padding: 0px;
} /* all */


body {
    height: auto;
    width : 100%;
} /* body */


header {
    height: 100vh;
    width : 100%;
} /* header */


section#painelDoHeader {
    height: auto;
    width : inherit;

    margin: 2%;
} /* section#painelDoHeader */


span {
    margin: .6%;
} /* span */


main {
    height: 200vh;
    width : 100%;
}


footer {
    height: 50vh;
    width : 100%;
}


.Flutuante {
    position: fixed;
}


.TituloHeader {
    animation: tituloFadein 2s;
} /* TituloHeader */

@keyframes tituloFadein {
    from { opacity: .1; }
    to   { opacity:  1; }
} /* tituloFadein */


.SubtituloHeader {
    animation: subtituloFadein 4s;

    font-size  : 70%;
    font-weight: normal;
} /* SubtituloHeader */


@keyframes subtituloFadein {
    from { opacity:  0; }
    to   { opacity:  1; }
} /* subtituloFadein */


.Centralizado {
    display: flex;

    align-content: center;
    align-items  : center;
    justify-content: center;
} /* Centralizado */


.Esticado {
    display: flex;

    align-content: stretch;
    align-items  : stretch;
    justify-content: center;
} /* Esticado */


.Arredondado {
    border-radius: 12px;
} /* Arredondado */


.EmColuna {
    display: flex;

    flex-direction: column;
} /* EmColuna */


.ItensAfastados {
    display: flex;

    justify-content: space-around;
} /* ItensAfastados */


.QuebraElementos {
    display: flex;

    flex-flow: row wrap;
} /* QuebraElementos */
