/* compatível com o Firefox */
* {
    scrollbar-width: thin;
}

/* compatível com demais navegadores */
*::-webkit-scrollbar {
    width: 4px;
}
*::-webkit-scrollbar-thumb {
    border-radius: 20px;
}
