.Serigrafia {
    font-size  : 120%;
    font-weight: bold;
    font-family: 'Roboto Mono';
    letter-spacing: 1.5px;
} /* Serigrafia */

@media (max-width: 200px) {
    .Serigrafia {
        font-size  : 200%;
    }
}
