html {
    background-color: #1F2223;
}


body {
    background-color: inherit;
    color           : #E1E1DB;
} /* body */


section#painelDoHeader {
    background-color: #181A1B;
} /* section#painelDoHeader */


main {
    background-color: transparent;
}


footer {
    background-color: #292C2F;
}


.SubtituloHeader {
    /* mesmo valor de color, 50% visivel */
    color: rgba(225, 225, 219, 0.5);
} /* SubtituloHeader */


.Sombreado {
    /* para o dark theme, a mesma cor da
       fonte, dando impressao de que está
       iluminando por tras do painel  */
    box-shadow: 0 0 24px #E1E1DB;
} /* Sombreado */


.TextoNavEncolhida {
    background-color: #181A1B;
    border: 1px solid #E1E1DB;
}


.TextoNavExpandida {
    background-color: transparent;
    border-bottom: 1px solid #E1E1DB;
}


button {
    color: rgba(225, 225, 219, 0.5);
    background-color : transparent;
}


/* compatível com o Firefox */
* {
    scrollbar-color: #E1E1DB transparent;
}

/* compatível com demais navegadores */
*::-webkit-scrollbar-track {
    background: transparent;
}
*::-webkit-scrollbar-thumb {
    background-color: #E1E1DB;
}
