body {
    background-color: #c4c4c4;
    color           : #7a7a7a;
} /* body */


section#painelDoHeader {
    background-color: #cbcbcb;
} /* section#painelDoHeader */


main {
    background-color: transparent;
}


footer {
    background-color: #b8b8b8;
}


.SubtituloHeader {
    color      : #848484;
} /* SubtituloHeader */


.Sombreado {
    box-shadow: 0 0 24px #888888;
} /* Sombreado */


.TextoNavEncolhida {
    background-color: #cbcbcb;
    border: 1px solid #444444;
}


.TextoNavExpandida {
    background-color: transparent;
    border-bottom: 1px solid #444444;
}


button {
    color            : #7a7a7a;
    background-color : transparent;
}


/* compatível com o Firefox */
* {
    scrollbar-color: #444444 transparent;
}

/* compatível com demais navegadores */
*::-webkit-scrollbar-track {
    background: transparent;
}
*::-webkit-scrollbar-thumb {
    background-color: #444444;
}
