html {
    background-color: #090519;
}


body {
    background-color: inherit;
    color           : #e3dbcc;
} /* body */


section#painelDoHeader {
    background-color: #08051A;
} /* section#painelDoHeader */


main {
    background-color: transparent;
}


footer {
    background-color: #0C0822;
}


.SubtituloHeader {
    /* mesmo valor de color, 50% visivel */
    color: rgba(225, 225, 219, 0.5);
} /* SubtituloHeader */


.Sombreado {
    /* para o dark theme, a mesma cor da
       fonte, dando impressao de que está
       iluminando por tras do painel  */
    box-shadow: 0 0 18px #e3dbcc;
} /* Sombreado */


.TextoNavEncolhida {
    background-color: #08051A;
    border: 1px solid #e3dbcc;
}


.TextoNavExpandida {
    background-color: transparent;
    border-bottom: 1px solid #e3dbcc;
}


button {
    color: rgba(225, 225, 219, 0.5);
    background-color : transparent;
}


/* compatível com o Firefox */
* {
    scrollbar-color: #e3dbcc transparent;
}

/* compatível com demais navegadores */
*::-webkit-scrollbar-track {
    background: transparent;
}
*::-webkit-scrollbar-thumb {
    background-color: #e3dbcc;
}
