html {
    background-color: #ddd3c2;
}


body {
    background-color: inherit;
    color           : #6a6a6a;
} /* body */


section#painelDoHeader {
    background-color: #e3dbcc;
} /* section#painelDoHeader */


main {
    background-color: transparent;
}


footer {
    background-color: #d8ccb7;
}


.SubtituloHeader {
    color      : #8a8a8a;
} /* SubtituloHeader */


.Sombreado {
    box-shadow: 0 0 24px #888888;
} /* Sombreado */


.TextoNavEncolhida {
    background-color: #e3dbcc;
    border: 1px solid #444444;
}


.TextoNavExpandida {
    background-color: transparent;
    border-bottom: 1px solid #444444;
}


button {
    color            : #6a6a6a;
    background-color : transparent;
}


/* compatível com o Firefox */
* {
    scrollbar-color: #444444 transparent;
}

/* compatível com demais navegadores */
*::-webkit-scrollbar-track {
    background: transparent;
}
*::-webkit-scrollbar-thumb {
    background-color: #444444;
}
